<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Duration</key>
		<integer>10</integer>
		<key>Title</key>
		<string>Run</string>
	</dict>
	<dict>
		<key>Duration</key>
		<integer>90</integer>
		<key>Title</key>
		<string>Walk</string>
	</dict>
	<dict>
		<key>Duration</key>
		<integer>60</integer>
		<key>Title</key>
		<string>Run</string>
	</dict>
	<dict>
		<key>Duration</key>
		<integer>90</integer>
		<key>Title</key>
		<string>Walk</string>
	</dict>
	<dict>
		<key>Duration</key>
		<integer>60</integer>
		<key>Title</key>
		<string>Run</string>
	</dict>
	<dict>
		<key>Duration</key>
		<integer>90</integer>
		<key>Title</key>
		<string>Walk</string>
	</dict>
	<dict>
		<key>Duration</key>
		<integer>60</integer>
		<key>Title</key>
		<string>Run</string>
	</dict>
	<dict>
		<key>Duration</key>
		<integer>90</integer>
		<key>Title</key>
		<string>Walk</string>
	</dict>
	<dict>
		<key>Duration</key>
		<integer>60</integer>
		<key>Title</key>
		<string>Run</string>
	</dict>
	<dict>
		<key>Duration</key>
		<integer>90</integer>
		<key>Title</key>
		<string>Walk</string>
	</dict>
	<dict>
		<key>Duration</key>
		<integer>60</integer>
		<key>Title</key>
		<string>Run</string>
	</dict>
	<dict>
		<key>Duration</key>
		<integer>90</integer>
		<key>Title</key>
		<string>Walk</string>
	</dict>
	<dict>
		<key>Duration</key>
		<integer>60</integer>
		<key>Title</key>
		<string>Run</string>
	</dict>
	<dict>
		<key>Duration</key>
		<integer>90</integer>
		<key>Title</key>
		<string>Walk</string>
	</dict>
	<dict>
		<key>Duration</key>
		<integer>60</integer>
		<key>Title</key>
		<string>Run</string>
	</dict>
	<dict>
		<key>Duration</key>
		<integer>90</integer>
		<key>Title</key>
		<string>Walk</string>
	</dict>
</array>
</plist>
